// Import custom fonts

@font-face {
  font-family: "OpenSans";
  src: url('../fontes/opensans-regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans Light";
  src: url('../fontes/opensans-light.ttf');
  font-weight: 300;
}