// Dimensions
$container: 960px;

// Colors
$main-color: #993235;
$secundary-color: #5a5a5a;
$footer-color: #323232;
$footer-info: #dedede;

// Fonts
$font-default: "Open Sans", Arial, Helvetica, sans-serif;