// Dimensions
$container: 960px;

// Colors
$main-color: #993235;
$secundary-color: #5a5a5a;
$info-footer-color: #333;
$footer-color: #323232;

// Fonts
$font-default: "Open Sans", Arial, Helvetica, sans-serif;