@import 'variables';

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-default;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

// Destaques
.destaques {
  max-width: $container;
  margin: 60px auto;

  .destaques-link {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
      margin-right: 20px;
      color: $main-color;
      font-size: 2em;
    } 
  }

  .destaques-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .destaques-info {
      flex: 2 1 300px;
	    margin: 20px 10px;
      display: flex;
      align-items: flex-start;
      // flex-wrap: wrap;

      .destaques-img {
        flex: 2;
      }

      .des {
        flex: 1;
      }
    }
  }
}

// Banner
.banner-bg {
  background: url('../img/panorama-pampulha.jpg') no-repeat center;
  padding: 130px;

  .banner-info {
    color: #fff;
    max-width: $container;

    h2 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 40px;
    }

    p {
      max-width: 520px;
      margin-bottom: 40px;
      line-height: 1.4;
    }

    button {
      padding: 10px 15px;
      background: $main-color;
      color: #fff;
      cursor: pointer;
      border: 0;
      border-radius: 100px;
      font-size: 1em;
    }
  }
}

// Info
.info {
  max-width: $container;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .info-item {
    margin: 20px 10px;
    flex: 1 1 0;
  	min-width: 175px;
    align-self: center;

    img {
      margin: 0 auto 20px auto;
    }

    h2, p {
      text-align: center;
      margin-bottom: 20px;
    }

    h2 {
      color: $main-color;
      font-weight: 100;
    }

    p {
      color: $secundary-color;
      font-weight: 100;
      font-size: 0.875em;
    }
  }

  .actions {
    display: flex; 
    justify-content: center;

    a {
      cursor: pointer;
      color: $main-color;
    }

    i {
      font-size: 2.25em;

      &:hover {
        color: $secundary-color;
      }
    }
  }
}

// Main Footer
.main-footer {
  background: url('../img/footer-bg.jpg') no-repeat center;
}