@import 'reset';

// Destaques
.destaques {
  max-width: $container;
  margin: 60px auto;

  .destaques-link {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 40px;

    a {
      margin-right: 20px;
      color: lighten($main-color, 40%);
      font-size: 2em;
    } 
  }
}

.destaques-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destaques-item {
  margin: 20px 10px;
  max-width: 400px;
  display: flex;

  .destaques-img {
    flex: 2;

    img {
      padding-right: 10px;
    }
  }

  .destaques-info {
    flex: 2;

    h2 {
      color: $secundary-color;
      font-family: $font-light;
      font-size: 1.2em;

      &::last-of-type {
        margin-bottom: 20px;
      }
    }

    ul {
      margin: 10px 10px 10px 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      li {
        padding: 5px 0;
      }
    }

    span {
      font-size: .8em;
      color: lighten($secundary-color, 15%);
    }

    i {
      color: $main-color;
      font-size: .8em;
      padding-right: 5px;
    }

    p {
      color: $main-color;
    }

    .destaques-footer {
      display: flex;
      justify-content: space-between;

      button {
        border: none;
      }

      i {
        font-size: 1.125em;
      }
    }
  }
}

// Destaques Animations
.destaques-link a.active {
  color: $main-color;
}

.destaques-container {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transform: translate3d(-50px, 0, 0);
}

.destaques-container.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: translate3d(0px, 0, 0);
  transition: .3s;
}

// Banner
.banner-bg {
  background: url('../img/panorama-pampulha.jpg') no-repeat center;
  padding: 130px;

  .banner-info {
    color: #fff;
    max-width: $container;

    h2 {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 40px;
    }

    p {
      max-width: 535px;
      margin-bottom: 40px;
      line-height: 1.4;
    }

    button {
      padding: 15px 20px;
      background: $main-color;
      color: #fff;
      cursor: pointer;
      border: 0;
      border-radius: 100px;
      font-size: 1em;

      &:hover {
        background: $secundary-color;
      }
    }
  }
}

// Info
.info {
  max-width: $container;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .info-item {
    margin: 20px 10px;
    flex: 1 1 0;
  	min-width: 175px;
    align-self: center;

    img {
      margin: 0 auto 20px auto;
    }

    h2, p {
      text-align: center;
      margin-bottom: 20px;
      font-family: $font-light;
    }

    h2 {
      color: $main-color;
      font-weight: 100;
    }

    p {
      color: $secundary-color;
      font-weight: 100;
      font-size: 0.875em;
    }
  }

  .actions {
    display: flex; 
    justify-content: center;

    a {
      cursor: pointer;
      color: $main-color;
    }

    i {
      font-size: 2.25em;

      &:hover {
        color: $secundary-color;
      }
    }
  }
}

// Main Footer
.footer-bg {
  background: url('../img/footer-bg.jpg') no-repeat center;
  background-size: cover;
  padding: 60px 0 50px 0;
}

.footer {
  max-width: $container;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .footer-item {
    margin: 20px 10px;
    color: #fff;
    flex: 1 1 260px;
  	min-width: 260px;
    align-self: flex-start;

    p {
      margin-bottom: 20px;
      font-weight: 100;
      color: #eee;
      font-size: 0.875em;
    }

    sub {
      margin-right: 5px;
      font-size: 0.8125rem;
    }

    ul {
      margin-left: 5px;
    }

    li {
      margin: 8px 0;
    }

    ul li a {
      color: #eee;
      font-size: 0.875em;

      &:hover {
        color: $main-color;
      }
    }

    ul::before {
      content: '';
      display: block;
      width: 200px;
      height: 3px;
      background: #fff;
    }
  }
}

footer {
  background: darken($footer-color, 10%);
  color: $footer-info;
  text-align: center;
  padding: 8px 0;
  font-size: 0.8em;
}

// Modal
#modal {
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.modal-box {
  background: #fff;
  width: 50%;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  margin-top: -150px;
  border-radius: 5px;
  color: $secundary-color;
}

.close {
  padding: 5px 10px;
  position: absolute;
  right: 3px;
  top: 3px;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.close:hover {
  color: #666;
  background: rgba(255, 255, 255, .8);
}

.modal-header {
  background: $main-color;
  height: 40px;

  h2 {
    padding: 5px 0 5px 10px;
    color: #fff;
    font-family: $font-light;
    font-size: 1em;
  }
}

.modal-content {
  margin: 20px 40px;

  p {
    margin: 20px;
    text-align: center;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    label {
      flex: none;
      display: block;
      width: 125px;
      font-weight: bold;
      font-size: 1em;
    }

    .input-control {
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      margin-right: 8px;
      padding: 4px;
      margin-top: -4px;
      border: none;
    }

    button {
      margin: 0 auto;
      padding: 15px 20px;
      background: $main-color;
      color: #fff;
      cursor: pointer;
      border: 0;
      border-radius: 100px;
      font-size: 1em;

      &:hover {
        background: $secundary-color;
      }
    }
  }
}