@import 'variables';

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-default;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

// Destaques
.destaques {
  max-width: $container;
  margin: 60px auto;
}